BOT_TOKEN=8626449676:AAEOAJGxbqzKVQU9kaf91S-Lc1BsagJ_XX4
BOT_USERNAME=ChannelsMonitorBot
LOCAL_BOT_API_BASE_URL=http://telegram-bot-api:8081
TDLIB_USE_SIMULATION=true
TDLIB_API_ID=123456
TDLIB_API_HASH=your_api_hash
BOT_API_TELEGRAM_API_ID=123456
BOT_API_TELEGRAM_API_HASH=your_api_hash
COLLECTOR_PHONE_NUMBER=+380XXXXXXXXX
